.posts{
    width: 100%;
}

.blogPost{
    align-self: flex-start;
    margin-top: 5vh;
    width: 60%;
}

.blogButton{
    font-size: 1vw;
    opacity: 0.7;
    transition: ease-in 0.3s;

    outline: solid;
    outline-color: white;
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
}

.blogButton:hover{
    opacity: 1;
    background: white;
    color: black;
}

@media screen and (max-width: 1000px) {
    .blogButton{
        font-size: 3vw;

        padding: 3px;
        margin-top: 5px;
        outline-width: 1px;
    }

    .blogPost{
        width: 100%;
    }
}
.code {
    background: #544949;
    border: 1px solid #ffffff;
    border-left: 3px solid #f36d33;
    color: #fff5f5;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

p{
    padding-left: 1px;
}

@media screen and (max-width: 2000px) {
    .blogButton{
        font-size: 1.6vw;
        outline-width: 2px;
    }

    h2{
        font-size: 4vw;
    }
}

@media screen and (max-width: 1000px) {
    .blogButton{
        font-size: 4vw;
        outline-width: 3px;
    }

    h2{
        font-size: 7vw;
    }
}