


body {
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;

    animation: fadeIn 1s;
    opacity: 1;
}

@keyframes fadeIn {
    from{opacity: 0}
    to{opacity: 1}
}


nav {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    margin-top: 5vh;

    font-size: 17px;

    display: flex;
    flex-direction: row;
    justify-content: start;
}


h1 {
    margin: 0;
    font-size: 6vw;
    position: relative;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -5px;

    text-shadow:
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #ec5250,
            0 0 82px #ec5250,
            0 0 92px #ec5250,
            0 0 102px #ec5250;
    font-family: 'Sixtyfour Convergence';

}
h2 {
    font-size: 60px;
    line-height: 1;
    margin: 5px;

    font-family: 'Sixtyfour Convergence';
}

h3{
    color: #ffffff;
    font-size: 35px;
    margin: 0;

    font-family: 'VT323';
}

ul{
    width: fit-content;
}

li{
    font-size: 30px;
    color: white;
    margin: 5px;
    margin-top: 10px;

    font-family: 'VT323';
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;

    font-family: 'VT323';
}

a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'VT323';
}

.moreInfo{
    opacity: 0.7;
    font-size: 25px;
}

.moreInfo:hover{
    opacity: 1;
}

.logo{
    color: #FFFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: normal;

    font-family: 'Sixtyfour Convergence';
}

.navbar{
    color: #FFFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: normal;

    font-family: 'VT323';
}

.navLinks{
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    flex-wrap: wrap;
    flex: 0 1 20%;
}

.navbarButton {
    display: inline-block;
    position: relative;
    height: fit-content;
}


#hero {
    margin-top: 5vh;
    height: fit-content;
    width: 30%;
    align-self: flex-start;
    justify-content: flex-start
}

#hero2{
    margin-top: 5vh;
    height: fit-content;
    width: 100%;
    align-self: flex-start;
    justify-content: flex-start
}

#hero3{
    margin-top: 5vh;
    height: fit-content;
    width: 100%;
    align-self: flex-start;
    justify-content: flex-start
}


.game{
    margin-top: 5vh;
    width: 80%;
}
.games{
    width: 40%;
}

.previewPart{
    margin-top: 15vh;
    align-self: flex-start;
    align-content: center;
}


.center{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.marginTop25{
    margin-top: 25vh;
}
.marginTop5{
    margin-top: 5vh;
}


.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.alignSelfCenter{
    align-self: center;
}

.gamePreview{
    padding-bottom: 0;
}

.previewVideo{
    width: 60vw;
    height: 60vh;
    outline: none;
    align-self: flex-end;
}

#part0{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}


#part1 {
    width: 100%;
    height: 90vh;
}

.part0-info{
    width: 120%;
    align-self: flex-start;
}
.part1-info,
.part2-info {
    width: 30%;
    gap: 40px;
    padding: 1%;
}


#part2 {
    height: 100vh;
    width: 100%;
}

#part3 {
    align-self: flex-start;
    margin-top: 30px;
}

.scroll-icon {
    height: 50px;
    width: 35px;
    border: 1px solid white;
    border-radius: 100px;
    padding: 5px 14px 20px 14px;
    box-sizing: border-box;
}

.scroll {
    height: 10px;
    width: 5px;
    border-radius: 10px;
    background-color: white;
}

.title {
    display: inline-block;
    letter-spacing: -30px;
    transition: transform 0.2s;
}

.line{
    width: 30vw;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.social-links a {
    margin-top: 10px;
    margin-right: 90%;
    font-size: 40px;
}

.social-link{
    width: 100%;
}

@keyframes pressDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@media screen and (max-width: 1600px) {
    h1 {
        font-size: 7vw;
    }
    li{
        font-size: 25px;
    }

    p{
        font-size: 25px;
    }

    .navLinks{
        flex: 0 1 50%;
    }
    .navbar{
        font-size: 40px;
    }
    .hidden{
        display: none;
    }

    h2 {
        font-size: 40px;
    }
    .moreInfo{
        opacity: 0.7;
        font-size: 30px;
    }
    .social-links a {
        font-size: 25px;
        margin-right: 0;
    }

}



@media screen and (max-width: 1300px){

    h1 {
        font-size: 12vw;
    }

    .previewPart{
        display: none;
    }
    .trailer{
        display: none;
    }

    #hero{
        width: 80%;
        height: 100%;
    }

    #part0{
        height: 50%;
    }
    .game{
        width: 80%;
    }

    .games{
        width: 100%;
    }
    .part1-info,
    .part2-info {
        width: 100%;
    }
    .title{
        letter-spacing: 0;
    }

    .line{
        width: 30vw;
    }
}

@media screen and (max-width: 1000px){
    h1 {
        font-size: 14vw;
    }

}

@media  screen and (max-width: 600px){
    .navLinks{
        flex-direction: column;
        align-items: flex-end;
    }
}